/* HTML FIX */
body {
    font-family: 'Open Sans', sans-serif;
}

body, html {
    height: 100%;
}


/* Top bar */
.top {
    text-align: center;
    color:white;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    width: 100%;
    height: 80px;
    top:0;
    z-index: 1000;
}
.top .logo {
    margin-top: 20px;
    width: 330px;
    margin-left: auto;
    margin-right: auto;

}
.top a {
    color : white;
}
.top h1 {
    margin-left: 12px;
    margin-top : 0;
    font-size: 31px;
}
.label-plus {
    font-size: 50%;
    background-color: #e24800;
    border-radius: 0.15em;
    letter-spacing: 2px;
}
.top .logo h1, .top .logo img {
    float: left;
}



/* GENERALITY ABOUT SECTION */
section {
    background-color: white;
    min-height: 200px;
    position: relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

section .background {
    height: 100%;
    width: 100%;
    position: absolute;
}

section .container {
    position: relative;
}




/* SECTION SPECIFIC CSS */

.section-top {
    padding-top: 100px;
    color: white;
    min-height: 600px;
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
}
.section-top .container {
    height: 100%;
}

.section-top .intro {
    position: absolute;
    bottom: 0px;
    margin-bottom: 20px;
    width: 100%;
}

.section-top .background {
    background: #000 url('../images/limitless.jpg') no-repeat;
    background-size:cover;

}

.section-top .front {
    position: relative;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}




.section-offer {
    background-color: #f5f5f5;
}

.section-offer .col-md-2 img {
    width: 128px;
}



.section-devices .devices-img {
    max-height: 290px;
    overflow: hidden;
}
.section-devices img {
    width: 100%;
}


.section-examples {
    background-color: #f5f5f5;
}


.section-contact {
    background-color: #f5f5f5;
}

.section-description {
    text-align: left;
}

.section-subscribe {
    padding-bottom: 0;
}
.section-subscribe .col {
    padding-top: 20px;
    text-align: left;
    background-color: rgba(255,255,255,0.6);
    min-height: 500px;
}
.section-subscribe li {
    margin-top: 15px;
}

.section-benefices quote {
    font-weight: bold;
    font-size: 26px;
}
.section-benefices quote span {
    color : #26bbf5;
}




.section-subscribe .btn-wappzapp {
    margin-top:370px;
    margin-bottom: 20px;
}
/* for mobile */
@media (max-width: 768px) {
    .section-subscribe .btn-wappzapp {
        margin-top:20px;
        margin-bottom: 20px;
    }
  }




/* General page / object css */

/* footer */
footer {
    background-color: #383838;
    text-align: center;
    color : #ccc;
}
footer hr {
    border-color: #666; /* works in Chrome and Safari */
    background-color: #666; /* works in Firefox and Opera */
    color: #666; /* */ 
}
footer a {
    color: #26bbf5;
}



/* button wappzapp*/
.btn-wappzapp {
    background-color:#e24800;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #bf3c00;
    cursor:pointer;
    font-size:17px;
    font-weight:bold;
    padding:8px 10px;
    text-decoration:none;
    color: white;
}
.btn-wappzapp span, .btn-wappzapp img {
    float:left;
    margin-left: 10px;
}
.btn-wappzapp:hover {
    background-color:#e24700;
}
.btn-wappzapp:active {
    position:relative;
    top:1px;
}


/* list-wappzapp */
.list-wappzapp {
    padding-left: 0;
}
.list-wappzapp li {
      background: url("../images/list-item.png") no-repeat left top;
      padding: 0px 0px 20px 24px;
      list-style: none;
}


/* col-md-offset 1.5 */
.col-md-offset-3-half {
    margin-left: 12.5%;
}
@media (max-width: 768px) {
    .col-md-offset-3-half {
        margin-left: 0%;
    }
  }


/* card */
.card {
    background-color: #fff;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 15px;
    margin-left: 15px;
}

.card h5 {
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.card h4, .card p {
    text-align:left;
    padding: 0 20px 0 20px;
}
.card h4 {
    font-weight: bold;
}




/* IFRAME VIDEO */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* ANIMATION */
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
          animation-name: pulse;
}




@keyframes flip {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) scale3d(.95, .95, .95);
    animation-timing-function: ease-in;
  }

  100% {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}

.animated.flip {
  backface-visibility: visible;
  animation-name: flip;
}

