header {
  text-align: center;
}
.header {
  color: #000;
}
.header:hover {
  text-decoration: none;
  color: #000;
}

.code {
  background: #303030;
}
pre {
  padding: 20px;
  text-shadow: none;
  overflow: auto;
  color: #f2f2f2;
  border: none;
  margin-bottom: 0
}

.container {
  max-width: 60rem;
}

h3 {
  margin-top: 2rem;
}
.graph h2 {
  margin-top: 2rem;
  text-align: center;
}